  <footer class="menu">
    <div class="row">
      <div class="footerText columns large-2 large-offset-6">
        Powered By:
      </div>
      <div class="columns large-4">
        <img height='110px' src="spotifyLogo.png"/>
      </div>
    </div>
  </foort>
  </body>
</html>
