<% include partials/header %>
  <div id='reactContainer'></div>
  <script type="text/babel" src="react/nav.js"></script>
  <script type="text/babel" src="react/playlist.js"></script>
  <script type="text/babel" src="react/searchResult.js"></script>
  <script type="text/babel" src="react/searchUI.js"></script>
  <script type="text/babel" src="react/playlistBuilder.js"></script>
  <script type="text/babel" src="react/buildPage.js"></script>
<% include partials/footer %>
