body {
  background-color: #121314;
  border: 0px;
}

.top-bar {
  background-color: #212121;
}

.menu li{
  background-color: #212121;
  color: #87888B;
}

thead {
  background-color: #121314;
  color: #87888B;
  border: 0px;
}

tbody {
  background-color: #121314;
  color: #D7D8DE;
  border: 0px;
}

.button {
  background-color: #639000;
  moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

tr {
  background-color: #121314;
  color: #D7D8DE;
  border-bottom: 1px solid #87888B;
}

.track:nth-child(even) {
  background-color: #373737;
}
