body {
  background-color: #121314;
  color: #D7D8DE;
}

.top-bar {
  background-color: #212121;
}

.menu li{
  background-color: #212121;
  color: #87888B;
}

thead {
  background-color: #121314;
  color: #87888B;
  border: none;
}

tbody {
  background-color: #121314;
  color: #D7D8DE;
  border: none;
}

.button {
  background-color: #639000;
  moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

tr {
  background-color: #121314;
  color: #D7D8DE;
  border-bottom: 1px solid #87888B;
}

.track:nth-child(even) {
  background-color: #373737;
}

h4 {
  color: #D7D8DE;
}

.guideContainer {
  background-color: #212121;
  padding: 20px;
  box-shadow: 0px 2px 6px 1px #373737;
}

.playlistImg {
  height: 220px;
}
